In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import xlrd
import numpy as np

In [4]:
df = pd.read_csv('data/producao_soja_campo_novo_parecis.csv', delimiter = ';')

In [6]:
df

,cidade,area_plantada,area_colhida,qtd_produzida,ano,Unnamed: 5
0,Campo Novo do Parecis,291070,291070,818489,2000,NaN
1,Campo Novo do Parecis,283000,283000,849000,2001,NaN
2,Campo Novo do Parecis,300000,300000,900000,2002,NaN
3,Campo Novo do Parecis,320186,320186,902924,2003,NaN
4,Campo Novo do Parecis,325882,325882,879881,2004,NaN
5,Campo Novo do Parecis,343301,343301,1071099,2005,NaN
6,Campo Novo do Parecis,350000,344750,868770,2006,NaN
7,Campo Novo do Parecis,298000,298000,894000,2007,NaN
8,Campo Novo do Parecis,311500,311500,990570,2008,NaN
9,Campo Novo do Parecis,311500,311500,967208,2009,NaN
10,Campo Novo do Parecis,329214,329214,1006135,2010,NaN
11,Campo Novo do Parecis,315350,315350,990352,2011,NaN
12,Campo Novo do Parecis,336000,336000,1063800,2012,NaN
13,Campo Novo do Parecis,384000,384000,1125720,2013,NaN
14,Campo Novo do Parecis,388000,387400,1194288,2014,NaN
15,Campo Novo do Parecis,380500,380500,1197900,2015,NaN
16,Campo Novo do Parecis,380000,380000,1162800,2016,NaN
17,Campo Novo do Parecis,380000,368600,1172148,2017,NaN
18,Campo Novo do Parecis,380000,380000,1322400,2018,NaN
19,Campo Novo do Parecis,380000,380000,1276800,2019,NaN