In [70]:
import pandas as pd
import matplotlib.pyplot as plt
import xlrd
import numpy as np

In [71]:
df_producao = pd.read_csv('data/producao_soja_campo_novo_parecis.csv', delimiter = ';')
df_producao

                   cidade  area_plantada  area_colhida  qtd_produzida  data
0   Campo Novo do Parecis         291070        291070         818489  2000
1   Campo Novo do Parecis         283000        283000         849000  2001
2   Campo Novo do Parecis         300000        300000         900000  2002
3   Campo Novo do Parecis         320186        320186         902924  2003
4   Campo Novo do Parecis         325882        325882         879881  2004
5   Campo Novo do Parecis         343301        343301        1071099  2005
6   Campo Novo do Parecis         350000        344750         868770  2006
7   Campo Novo do Parecis         298000        298000         894000  2007
8   Campo Novo do Parecis         311500        311500         990570  2008
9   Campo Novo do Parecis         311500        311500         967208  2009
10  Campo Novo do Parecis         329214        329214        1006135  2010
11  Campo Novo do Parecis         315350        315350         990352  2011
12  Campo Novo do Parecis         336000        336000        1063800  2012
13  Campo Novo do Parecis         384000        384000        1125720  2013
14  Campo Novo do Parecis         388000        387400        1194288  2014
15  Campo Novo do Parecis         380500        380500        1197900  2015
16  Campo Novo do Parecis         380000        380000        1162800  2016
17  Campo Novo do Parecis         380000        368600        1172148  2017
18  Campo Novo do Parecis         380000        380000        1322400  2018
19  Campo Novo do Parecis         380000        380000        1276800  2019

In [74]:
df_clima = pd.read_csv('data/clima_campo_novo_parecis_noheader.csv', delimiter = ';')

In [76]:
# df_clima
data = df_clima['data'] # se o resultado for uma lista das datas do banco
ano = [a.split('/')[-1] for a in data]
df_clima['data'] = ano

df_clima

,data,"PRECIPITACAO TOTAL, DIARIO (AUT)(mm)",PRESSAO ATMOSFERICA MEDIA DIARIA (AUT)(mB),TEMPERATURA DO PONTO DE ORVALHO MEDIA DIARIA (AUT)(°C),"TEMPERATURA MAXIMA, DIARIA (AUT)(°C)","TEMPERATURA MEDIA, DIARIA (AUT)(°C)","TEMPERATURA MINIMA, DIARIA (AUT)(°C)","UMIDADE RELATIVA DO AR, MEDIA DIARIA (AUT)(%)","UMIDADE RELATIVA DO AR, MINIMA DIARIA (AUT)(%)","VENTO, RAJADA MAXIMA DIARIA (AUT)(m/s)","VENTO, VELOCIDADE MEDIA DIARIA (AUT)(m/s)"
0,2002,NaN,NaN,"23,7","28,3","26,2","25,1",86,71.0,NaN,NaN
1,2002,NaN,NaN,"21,275","26,3","24,108333",NaN,"84,416667",71.0,NaN,NaN
2,2002,NaN,NaN,"21,583333","29,4","24,575","21,3","84,041667",62.0,NaN,NaN
3,2002,NaN,NaN,"20,979167","29,5","23,379167","21,4","87,166667",60.0,NaN,NaN
4,2002,NaN,NaN,"20,683333","28,7","23,433333","20,4","85,458333",62.0,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...
6224,2019,NaN,"950,816667",NaN,"32,6","25,8","22,5",NaN,NaN,8,"1,05"
6225,2019,NaN,"950,745833",NaN,"30,7","24,216667",21,NaN,NaN,"8,3","1,304167"
6226,2019,NaN,"950,229167",NaN,31,"24,816667","21,7",NaN,NaN,"6,9","0,795833"
6227,2019,NaN,"949,245833",NaN,"31,3","24,758333","21,6",NaN,NaN,"12,2","1,033333"
6228,2019,NaN,"949,704167",NaN,"28,8","23,966667","20,5",NaN,NaN,"8,4","1,775"

In [83]:
df_clima['data']=df_clima['data'].astype(int)
df_producao['data']=df_producao['data'].astype(int)

df_outer = pd.merge(df_clima, df_producao, on = 'data')
df_outer

,data,"PRECIPITACAO TOTAL, DIARIO (AUT)(mm)",PRESSAO ATMOSFERICA MEDIA DIARIA (AUT)(mB),TEMPERATURA DO PONTO DE ORVALHO MEDIA DIARIA (AUT)(°C),"TEMPERATURA MAXIMA, DIARIA (AUT)(°C)","TEMPERATURA MEDIA, DIARIA (AUT)(°C)","TEMPERATURA MINIMA, DIARIA (AUT)(°C)","UMIDADE RELATIVA DO AR, MEDIA DIARIA (AUT)(%)","UMIDADE RELATIVA DO AR, MINIMA DIARIA (AUT)(%)","VENTO, RAJADA MAXIMA DIARIA (AUT)(m/s)","VENTO, VELOCIDADE MEDIA DIARIA (AUT)(m/s)",cidade,area_plantada,area_colhida,qtd_produzida
0,2002,NaN,NaN,"23,7","28,3","26,2","25,1",86,71.0,NaN,NaN,Campo Novo do Parecis,300000,300000,900000
1,2002,NaN,NaN,"21,275","26,3","24,108333",NaN,"84,416667",71.0,NaN,NaN,Campo Novo do Parecis,300000,300000,900000
2,2002,NaN,NaN,"21,583333","29,4","24,575","21,3","84,041667",62.0,NaN,NaN,Campo Novo do Parecis,300000,300000,900000
3,2002,NaN,NaN,"20,979167","29,5","23,379167","21,4","87,166667",60.0,NaN,NaN,Campo Novo do Parecis,300000,300000,900000
4,2002,NaN,NaN,"20,683333","28,7","23,433333","20,4","85,458333",62.0,NaN,NaN,Campo Novo do Parecis,300000,300000,900000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6224,2019,NaN,"950,816667",NaN,"32,6","25,8","22,5",NaN,NaN,8,"1,05",Campo Novo do Parecis,380000,380000,1276800
6225,2019,NaN,"950,745833",NaN,"30,7","24,216667",21,NaN,NaN,"8,3","1,304167",Campo Novo do Parecis,380000,380000,1276800
6226,2019,NaN,"950,229167",NaN,31,"24,816667","21,7",NaN,NaN,"6,9","0,795833",Campo Novo do Parecis,380000,380000,1276800
6227,2019,NaN,"949,245833",NaN,"31,3","24,758333","21,6",NaN,NaN,"12,2","1,033333",Campo Novo do Parecis,380000,380000,1276800
6228,2019,NaN,"949,704167",NaN,"28,8","23,966667","20,5",NaN,NaN,"8,4","1,775",Campo Novo do Parecis,380000,380000,1276800

In [85]:
df_outer.columns

Index(['data', 'PRECIPITACAO TOTAL, DIARIO (AUT)(mm)',
       'PRESSAO ATMOSFERICA MEDIA DIARIA (AUT)(mB)',
       'TEMPERATURA DO PONTO DE ORVALHO MEDIA DIARIA (AUT)(°C)',
       'TEMPERATURA MAXIMA, DIARIA (AUT)(°C)',
       'TEMPERATURA MEDIA, DIARIA (AUT)(°C)',
       'TEMPERATURA MINIMA, DIARIA (AUT)(°C)',
       'UMIDADE RELATIVA DO AR, MEDIA DIARIA (AUT)(%)',
       'UMIDADE RELATIVA DO AR, MINIMA DIARIA (AUT)(%)',
       'VENTO, RAJADA MAXIMA DIARIA (AUT)(m/s)',
       'VENTO, VELOCIDADE MEDIA DIARIA (AUT)(m/s)', 'cidade', 'area_plantada',
       'area_colhida', 'qtd_produzida'],
      dtype='object')

In [86]:
df_outer.isnull().c

,data,"PRECIPITACAO TOTAL, DIARIO (AUT)(mm)",PRESSAO ATMOSFERICA MEDIA DIARIA (AUT)(mB),TEMPERATURA DO PONTO DE ORVALHO MEDIA DIARIA (AUT)(°C),"TEMPERATURA MAXIMA, DIARIA (AUT)(°C)","TEMPERATURA MEDIA, DIARIA (AUT)(°C)","TEMPERATURA MINIMA, DIARIA (AUT)(°C)","UMIDADE RELATIVA DO AR, MEDIA DIARIA (AUT)(%)","UMIDADE RELATIVA DO AR, MINIMA DIARIA (AUT)(%)","VENTO, RAJADA MAXIMA DIARIA (AUT)(m/s)","VENTO, VELOCIDADE MEDIA DIARIA (AUT)(m/s)",cidade,area_plantada,area_colhida,qtd_produzida
0,False,True,True,False,False,False,False,False,False,True,True,False,False,False,False
1,False,True,True,False,False,False,True,False,False,True,True,False,False,False,False
2,False,True,True,False,False,False,False,False,False,True,True,False,False,False,False
3,False,True,True,False,False,False,False,False,False,True,True,False,False,False,False
4,False,True,True,False,False,False,False,False,False,True,True,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6224,False,True,False,True,False,False,False,True,True,False,False,False,False,False,False
6225,False,True,False,True,False,False,False,True,True,False,False,False,False,False,False
6226,False,True,False,True,False,False,False,True,True,False,False,False,False,False,False
6227,False,True,False,True,False,False,False,True,True,False,False,False,False,False,False
6228,False,True,False,True,False,False,False,True,True,False,False,False,False,False,False